---
import type { APIContext } from "astro";
import { getRuntime } from "@astrojs/cloudflare/runtime";

const runtime:any = getRuntime(Astro.request);

const counter:bigint = (await runtime.env.LEADERBOARD_KV.get("counter")) ?? 0n;
runtime.env.LEADERBOARD_KV.put("counter", counter+1n);


//@ts-ignore
const visiteur = counter == 1n ? "1er visiteur" : counter + " visiteurs";
---

<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Félicitations</title>
	</head>
	<body>
        <h1>Félicitations!</h1>
        <p>Vous êtes le {visiteur}!</p>
    </body>
</html>

